<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%= @trip.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @trip.name %></p>
	<p>Location: <%= @trip.locations %><p>
    Message:<br>
    ----------

  </body>
</html>
